@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Learn to Rock Climb</h1>
    <img src="~/lib/img/rockclimbing.jpg" alt="Rock Climbing Image" class="img-fluid">
    <p class="lead">Rock climbing is not just a sport; it's a lifestyle that offers a multitude of physical, mental, and emotional benefits. Whether you're scaling towering cliffs or indoor walls, the thrill of conquering new heights and challenges is unparalleled.</p>
    <p>One of the greatest aspects of rock climbing is its ability to push you out of your comfort zone and build confidence. As you learn new techniques and overcome obstacles, you'll develop strength, agility, and problem-solving skills that extend far beyond the climbing gym.</p>
    <img src="~/lib/img/rockclimbing2.jpg" alt="Rock Climbing 2 Image" class="img-fluid" />
    <p>Moreover, rock climbing fosters a strong sense of community and camaraderie. You'll meet fellow climbers who share your passion and support each other's growth and progress. Whether you're a beginner or an experienced climber, there's always something new to learn and someone to inspire you along the way.</p>
</div>
